name: CI Poster
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
      - master
    paths:
      - '**/poster/**'

jobs:
  build:
    name: Build poster PDF
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: CSheck input path
        id: inputPath
        uses: notiz-dev/github-action-json-property@release
        with: 
          path: '.vscode/settings.json'
          prop_path: 'boilerplatePaper.inputPath'
      - name: Download Bibtex file
        run: curl $BIBTEX_LINK -L -o output/bibtex.bib
        env: 
          BIBTEX_LINK: ${{ secrets.BIBTEX_LINK }}
      - name: List markdown files
        run: cd ${{steps.inputPath.outputs.prop}} && echo "::set-output name=md_files::$(ls -1 poster/*.md | tr  '\n' ' ')"
        id: input_files
      - name: Run Pandoc
        uses: docker://pandoc/latex:2.9.2
        with:
          entrypoint: /bin/sh
          args: >-
            -c "
             tlmgr update --self &&
             tlmgr install texliveonfly &&
             apk add curl git python2 &&
             curl https://github.com/lierdakil/pandoc-crossref/releases/download/v0.3.6.2/linux-pandoc_2_9_2.tar.gz -L -O &&
             tar -C /usr/bin -zxvf linux-pandoc_2_9_2.tar.gz &&
             rm linux-pandoc_2_9_2.tar.gz &&
             cd ${{steps.inputPath.outputs.prop}} &&
             pandoc --defaults=defaults/poster.yaml --output=../output/poster-pre.tex --to=latex --bibliography=../output/bibtex.bib ${{ steps.input_files.outputs.md_files }} &&
             texliveonfly  --terminal_only --arguments='-synctex=1 -interaction=nonstopmode -output-directory=../output ' ../output/poster-pre.tex &&
             pandoc --defaults=defaults/poster.yaml --bibliography=../output/bibtex.bib ${{ steps.input_files.outputs.md_files }} &&
             cd ../output &&
             find . ! -name 'poster.pdf' -type f -exec rm -f {} +
            "
      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: output
          path: output
